/*
Created by: Evandro Ramos
Date: February 23, 2018
Last modified: March 19, 2018 by Evandro Ramos
*/
body {
    background: #fff url("../img/welcome.png") no-repeat fixed left bottom;
    background-size: 100%;

}
h1{
    padding: 100px 0 0 0;
    text-align: center;
    font-size: 4em;
    color: #006341;
}

h2{
    text-align: center;
    font-size: 3em;
    color: #006341;
}
h4{
    text-align: center;
    color: white;
}

.info-block {
    background: #006341;
    width: 400px;
    padding: 10px;
    margin: 70px auto 0 auto;
}

.container-actions {
    margin: 0 auto;
    padding-top: 50px;
    display: table;
}

.container-actions .action {
    margin: 0 210px 0 210px;
    display: inline-block;
}

.container-actions a {
    text-decoration: none;
}

.container-actions .action a img {
    display: block;
    margin: 0 auto;
    filter: drop-shadow(50px 50px 50px white);
}
