/*
Created by: Evandro Ramos
Date: February 23, 2018
Last modified: March 19, 2018 by Evandro Ramos
*/
.footer{

    left: 0;
    width: 100%;
	text-align: center;
	/*background-color: #006341;*/
	position: fixed;
	bottom: 0;
	padding-top: 1%;
	margin-top: 1%;
	
}
