/*Created by: Hiral Nilesh Bhatt*/
/*Date: March 31, 2018*/
/*Last modified: April 2, 2018 by Hiral Nilesh Bhatt*/
.footer{

    left: 0;
    width: 100%;
	text-align: center;
	/*background-color: #006341;*/
	position: fixed;
	bottom: 0;
	padding-top: 1%;
	margin-top: 1%;
	
}
