/*
Created by: Evandro Ramos
Date: February 23, 2018
Last modified: March 19, 2018 by Evandro Ramos
*/
.navbar-default {
    background-color: #006341;
    border-color: #267a5d;
}
.navbar-default .navbar-brand {
    color: #f2f7f5;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #80b1a0;
}
.navbar-default .navbar-text {
    color: #f2f7f5;
}
.navbar-default .navbar-nav > li > a {
    color: #f2f7f5;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #80b1a0;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #006341;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #f2f7f5;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #80b1a0;
    background-color: #267a5d;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
    background-color: #267a5d;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #80b1a0;
    background-color: #267a5d;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #80b1a0;
    background-color: #267a5d;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #80b1a0;
    background-color: #267a5d;
}
.navbar-default .navbar-toggle {
    border-color: #267a5d;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #267a5d;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #f2f7f5;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #f2f7f5;
}
.navbar-default .navbar-link {
    color: #f2f7f5;
}
.navbar-default .navbar-link:hover {
    color: #80b1a0;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #f2f7f5;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #80b1a0;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #80b1a0;
        background-color: #267a5d;
    }
}

.navbar-brand img{
    width: 50px;
    position: relative;
    top: -10px;
}

.navbar-nav .icon {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-nav .icon img{
    width: 30px;
}

.navbar-brand:hover {
    filter: opacity(.5) drop-shadow(0 0 0 #80b1a0);
}

.navbar-nav .icon img:hover {
    filter: opacity(.5) drop-shadow(0 0 0 #80b1a0);
}
