body {
    background: #fff url("../img/welcome.png") no-repeat fixed left bottom;
    background-size: 100%;

}
h1{
    padding: 100px 0 0 0;
    text-align: center;
    font-size: 4em;
    color: #006341;
}

h2{
    text-align: center;
    font-size: 3em;
    color: #006341;
}

.container-actions {
    margin: 0 auto;
    padding-top: 200px;
    width: 1500px;
}

.container-actions .action {
    margin: 0 210px 0 210px;
    display: inline-block;
}

.container-actions a {
    width: 370px;
    text-decoration: none;
}

.container-actions .action a img {
    display: block;
    margin: 0 auto;
}
