/*Created by: Hiral Nilesh Bhatt*/
/*Date: March 31, 2018*/
/*Last modified: April 2, 2018 by Hiral Nilesh Bhatt*/
.block-highlight{
	margin-top:100px;
	background: #fff url("../img/welcome.png") no-repeat fixed left bottom;
	
}
.block-highlight p{
	color: #fff;
	background-color: #00864a;
	padding: 50px;
	text-align: center;
	font-size: 2em;
}
.block-highlight p a{

	color: #fff;
	text-decoration: underline;
}