/*
File: style-admin.css
Created by: Jennifer Aube
Date: March 10, 2018
Last modified: March 19, 2018 by Jennifer Aube
*/
h1{
    margin-top: 100px;
    text-align: center;

}
button{
    margin:45px;
}
.container-actions .action {
    margin: 50px;
}



