/*
File: style-searchresults.css
Created by: Jennifer Aube
Date: March 10, 2018
Last modified: March 30, 2018 by Jennifer Aube
*/
#searchTable {
     margin-top: 100px;
     margin-left: 10px;
     margin-right: 10px;
 }