/*
File: style-finduser.css
Created by: Jennifer Aube
Date: March 10, 2018
Last modified: April 07, 2018 by Jennifer Aube
*/
p{
    margin-top: 150px;
    margin-left: auto;
}
#info {
    margin: auto;
    text-align: center;
}
#findusers{
    align-content: center;
    margin: auto;
}
#findusers-form{
    /*margin-left: 50px;*/
    /*margin-right: auto;*/
    /*margin-top: 20px;*/
    margin: auto;
    width: 50%;

    padding: 25px;
    /*position: relative;*/
    -webkit-border-radius: 15px;
    border-radius: 15px;
    align-content: center;

}
#keyboard-fname{
    height: 2%;
}
#keyboard-lname{
    height: 5%;
}
#keyboard-email{
    margin-bottom: 5px;
    height: 5%;
}
#findusers input {
    float: right;
}
#searchbutton {
    float:left;
}
#cancelbutton {
    float: right;
}