/*
File: style-adduser.css
Created by: Jennifer Aube
Date: March 10, 2018
Last modified: April 7, 2018 by Jennifer Aube
*/
.container-formadduser {
    margin-top: 40px;
    /*margin-left: 20px;*/
    align-items: center;
    /*align-content: center;*/

}
.addoneuser{
    width: 200%;

}
#keyboard-fname{
    height:5%;
}
#keyboard-lname{
    height:5%;
}
#keyboard-email{
    height:5%;
}
#keyboard-confirmemail{
    height:5%;
}
#keyboard-pwd{
    height:5%;
}
#keyboard-confirmpwd{
    height:5%;
}
#addingusers{

    width: 320px;
    padding: 20px;
    margin-left:420px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    align-items: center;
}
#addoneuser{
    margin:auto;
}
#uploadingusers {
    margin-right: 40px;
    position: center;
    left: 820px;
    top: 20px;
    width: 560px;
    height:15%;

}
#uploading {
    margin-top: 100px;
    border: 1px solid black;
    border-radius: 5px;
    padding:4px;
}
#uploadbutton {
    float: right;
}
.form {
    float: right;
}
#addingbutton {
    float: left;
}
#cancelbutton {
    float: right;
}